{# 404 #}
<div class="uk-container uk-margin-xlarge uk-margin-xlarge-top">
  <h2 class="font-fancy -size-large">{{ __('A página que procura não existe.', 'timbersage') }}</h2>
  <a class="link -nocolor -underline" href="{{ site.url }}">{{ __('Volte à página inicial', 'timbersage') }}</a>  
</div>
