// Grid elements
.container {

    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include clearfix;

    @include max-small {
    	width: $screen-width--max-small;
    }
    @include small-medium {
        width: $screen-width--small-medium;
    }
    @include medium-large {
        width: $screen-width--medium-large;
    }
    @include large-xlarge {
        width: $screen-width--large-xlarge;
    }
    @include min-xlarge {
        width: $screen-width--min-xlarge;
    }

}


.sidebar-primary {

    .main {
        @include span-min-medium(6);
    }
    
    .sidebar {
        @include span-min-medium(last 4);
    }
}
