@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin min-small {
    @media (min-width: $breakpoint-small) { @content; }
}
@mixin max-small {
    @media (max-width: $breakpoint-small) { @content; }
}
@mixin min-medium {
    @media (min-width: $breakpoint-medium) { @content; }
}
@mixin max-medium {
    @media (max-width: $breakpoint-medium) { @content; }
}
@mixin min-large {
    @media (min-width: $breakpoint-large) { @content; }
}
@mixin max-large {
    @media (max-width: $breakpoint-large) { @content; }
}
@mixin min-xlarge {
    @media (min-width: $breakpoint-xlarge) { @content; }
}
@mixin max-xlarge {
    @media (max-width: $breakpoint-xlarge) { @content; }
}

@mixin small-medium {
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) { @content; }
}
@mixin medium-large {
    @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) { @content; }
}
@mixin large-xlarge {
    @media (min-width: $breakpoint-large) and (max-width: $breakpoint-xlarge) { @content; }
}

@mixin small-large {
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-large) { @content; }
}
@mixin small-xlarge {
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-xlarge) { @content; }
}

@mixin medium-xlarge {
    @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-xlarge) { @content; }
}